.recipe-container {
  float: right;
}
.ingredient-container {
  float: left;
}
.recipe-container, .ingredient-container {
  width: 40%;
}
.ingredientInput {
  overflow: visible;
}
form {
}
.nameInput {
  position: relative;
  display: inline-block;

  input {
    width: 90%;
  }

  .suggestions {
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 90%;
    background: white;
    border: 1px solid black;
    .suggestion {
      border-bottom: 1px solid gray;
      &:last-of-type {
        border: none;
      }
      p {
        margin: 0;
        padding: 0;
      }
      &.active, &:hover {
        background-color: #888;
      }
    }
  }
}

.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}